.page-template-about {
  .site-header {
    border-bottom: none;
    .top-navigation {
      border-bottom: 1px solid #e1e1e1;
    }
    .header-transparent {
      background-color: transparent;
      position: absolute;
      border-bottom: none;

      .logo-green {
        display: none;
      }
      .logo-white {
        display: block;
        align-self: flex-end;
        height: 33px;
        width: 50px;
      }
      a {
        color: white !important;
      }
      i {
        color: white !important;
      }
    }
  }
  .site-content {
    margin-bottom: 5%;
    .entry-content {
      color: black;
      font-family: 'Merriweather-light';
      font-size: 1rem;
      line-height: 1.75;
      h2 {
        font-family: 'novecento-bold';
        text-align: center;
        font-size: 2.1rem;
      }
      p {
        margin-bottom: 1.5rem;
      }
      width: 800px;
      margin: auto;
    }
  }
}
