.site-header {
  background: hsla(0, 0%, 100%, 0.85);

  .top-navigation {
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: cneter;
    justify-content: space-between;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.85);
    position: fixed;
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5rem 0;
    .logo-white {
      display: none;
    }

    .logo-link {
      display: flex;
      flex-direction: column;
      width: 20%;
      .logo-green {
        align-self: flex-end;
        height: 33px;
        width: 50px;
      }
    }
    .main-navigation {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-right: 10%;
      .menu-main-container {
        margin-right: 3%;
        width: 34%;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            margin-right: 2%;
            a {
              text-transform: uppercase;
              color: green;
              font-family: 'novecento';
              padding-left: 1.5rem;
            }
          }
        }
      }
      form {
        border: none;
        background: transparent;
        ::placeholder {
          color: grey;
        }

        i {
          color: green;
        }

        label {
          .search-field {
            border: none;
            background: transparent;
            width: 0%;
          }
          .search-show {
            width: 80%;
          }
        }
      }
    }
  }
}
