.site-header {
  background: white;

  .top-navigation {
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: cneter;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    position: fixed;
    .logo-white {
      display: none;
    }

    .logo-link {
      display: flex;
      flex-direction: column;
      width: 20%;
      .logo-green {
        align-self: flex-end;
        height: 33px;
        width: 50px;
      }
    }
    .main-navigation {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-right: 10%;
      .menu-main-container {
        margin-right: 3%;
        width: 25%;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            margin-right: 2%;
            a {
              color: green;
            }
          }
        }
      }
      form {
        border: none;
        background: transparent;

        i {
          color: green;
        }

        label {
          .search-field {
            border: none;
            background: transparent;
            width: 0%;
          }
          .search-show {
            width: 80%;
          }
        }
      }
    }
  }
}
