// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin read-more-button {
  background: #248a83;
  border: none;
  color: white;
  font-family: 'novecento';
  font-size: 0.9rem;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
