.search {
  .site-content {
    display: flex;
    margin: auto;
    width: 1120px;
    padding-top: 49px;
    .content-area {
      border-right: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
    }
  }
}
