.single-post {
  .site-content {
    display: flex;
    margin: auto;
    width: 1120px;
    .content-area {
      border-right: 1px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
      padding-top: 99px;

      article {
        .entry-header {
          position: relative;
          overflow: hidden;

          .entry-title {
            background-color: #248a83;
            font-family: 'novecento-bold';
            color: #fff;
            font-size: 2.1rem;
            left: 0;
            padding: 0.75rem 1.5rem;
            position: absolute;
            margin-top: 2.25rem;
            max-width: 75%;
            top: 0;
            text-transform: uppercase;
            line-height: 1.25;
          }
          .entry-meta {
            background-color: #248a83;
            bottom: 7px;
            color: white;
            display: inline-block;
            font-family: 'novecento';
            padding: 0.2rem 1.5rem;
            position: absolute;
            right: 0;
            text-transform: uppercase;
          }
        }
        .entry-content {
          p {
            margin-bottom: 1.5rem;
            color: #404040;
            font-family: 'Merriweather-light';
            font-size: 1rem;
            line-height: 1.75;
            .read-more {
              display: none;
            }
          }
        }
      }
      .entry-footer {
        margin: 1.5rem 0;
        font-family: 'novecento';
        text-transform: uppercase;
        a {
          text-decoration: none;
        }
        .cat-links {
          margin-right: 3%;
        }
      }

      .social-links {
        // font-size: 0.75rem;
        // line-height: 1;
        // padding: 0.6rem 1rem 0.4rem;
        // border-radius: 0;
        // background: none;
        button {
          background-color: transparent;
          border-radius: 0;
          border: 1px solid #000;
          color: #000;
          font-family: 'novecento';
          font-size: 0.9rem;
          line-height: 1;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      .comments-area {
        .comments-title {
          font-size: 2.1rem;
          font-family: 'novecento-bold';
          text-transform: uppercase;
          letter-spacing: 2px;
          // margin: 1.5rem 0;
        }
        .comment-list {
          margin-left: 0;
          padding-left: 0;
          // margin: 0 0 1.5rem 3rem;
          font-size: 1rem;
          line-height: 1.75;
          font-family: 'merriweather-light';
          li {
            padding-top: 1.5rem;
            article {
              display: flex;
              padding-bottom: 1.5rem;
              border-bottom: 1px solid #e1e1e1;
              .comment-author-avatar {
                border-radius: 50%;
                height: 64px;
                margin-right: 1.5rem;
                overflow: hidden;
                width: 64px;
              }

              .fn {
                font-family: 'Merriweather-bold';
                text-transform: capitalize;
              }
              .comment-metadata {
                color: grey;
              }
            }
          }
        }
        .comment-respond {
          .comment-reply-title {
            font-size: 1.8rem;
            line-height: 1.25;
            margin-top: 1.5rem;
            font-family: 'novecento-bold';
            letter-spacing: 2px;
            text-transform: uppercase;
          }
          form {
            p {
              font-family: 'Merriweather-light';
              font-size: 16px;
              font-size: 1rem;
              line-height: 1.75;
              margin-bottom: 1.5rem;

              label {
                display: block;
                font-family: 'novecento';
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
              }
              input,
              textarea {
                width: 100%;
                color: #666;
                background-color: #f4f4f4;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                padding: 0.3rem;
                font-size: 1rem;
                line-height: 1.75;
              }
            }
            .comment-form-author {
              margin-right: 1%;
              width: 49%;
              float: left;
            }
            .comment-form-email {
              margin-left: 1%;
              width: 49%;
              float: left;
            }
            .form-submit {
              margin-bottom: 4rem;
              .submit {
                background: #248a83;
                border: none;
                color: #fff;
                font-family: 'novecento';
                font-size: 0.9rem;
                line-height: 1;
                padding: 0.75rem 1.5rem;
                text-transform: uppercase;
                width: 15%;
                &:hover {
                  background: #1d706b;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
